<div class="card max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4 grid place-items-center">
	{% if post.thumbnail %}
		<a href="{{ path('post_show', {slug: post.slug}) }}">
			<img src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" alt="{{ post.thumbnail.imageName }}" class="rounded-t-lg">
		</a>
	{% endif %}
	
	<div class="p-5">
		<a href="{{ path('post_show', {slug: post.slug}) }}">
			<h5 class=" text-2xl font bold tracking-tight text-gray-900 dark:text-white text-center">
				{{post.title|capitalize}}</h5>
		</a>
		
		<!-- Like -->
		{% include "components/_like.html.twig" %}

		<!-- Badge -->
		{% include "components/_badges.html.twig" with {
                badges: post.categories
            } only 
		%}

		<p class="text-gray-700 text-base mb-4">
			{{post.content|u.truncate(160,"...")}}
		</p>
		<div class="flex">
			<a href="{{ path('post_show', {slug: post.slug}) }}"  class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Lire plus
			</a>
		</div>
	</div>
</div>