
{% if pageCount > 1 %}
	<div class="inline-block">
		<div class="flex items-baseline flex-row rounded-sm w-auto">
			{% if first is defined and current != first %}
				<span class="bg-white text-blue-600 px-3 py-2 text-lg hover:rounded-full hover:from-blue-600 hover:via-blue-400 hover:to-blue-200 hover:text-white hover:bg-gradient-to-br hover:focus:ring-4 hover:focus:outline-none hover:focus:ring-blue-300 dark:focus:ring-blue-800 hover:shadow-lg hover:shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-bold">
					<a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
				</span>
			{% endif %}

			{% if previous is defined %}
				<span class="bg-white text-blue-600 px-3 text-lg py-2 hover:rounded-full hover:from-blue-600 hover:via-blue-400 hover:to-blue-200 hover:text-white hover:bg-gradient-to-br hover:focus:ring-4 hover:focus:outline-none hover:focus:ring-blue-300 dark:focus:ring-blue-800 hover:shadow-lg hover:shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80">
					<a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
				</span>
			{% endif %}

			{% for page in pagesInRange %}
				{% if page != current %}
					<span class="bg-white text-blue-600 px-3 py-2 text-lg hover:rounded-full hover:from-blue-600 hover:via-blue-400 hover:to-blue-200 hover:text-white hover:bg-gradient-to-br hover:focus:ring-4 hover:focus:outline-none hover:focus:ring-blue-300 dark:focus:ring-blue-800 hover:shadow-lg hover:shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm">
						<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</span>
				{% else %}
					<span class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 rounded-lg text-sm px-3 py-2 text-lg font-bold rounded-full">{{ page }}</span>
				{% endif %}
			{% endfor %}

			{% if next is defined %}
				<span class="bg-white text-blue-600 px-3 py-2 text-lg hover:rounded-full hover:from-blue-600 hover:via-blue-400 hover:to-blue-200 hover:text-white hover:bg-gradient-to-br hover:focus:ring-4 hover:focus:outline-none hover:focus:ring-blue-300 dark:focus:ring-blue-800 hover:shadow-lg hover:shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80">
					<a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
				</span>
			{% endif %}

			{% if last is defined and current != last %}
				<span class="bg-white text-blue-600 px-3 py-2 text-lg hover:rounded-full hover:from-blue-600 hover:via-blue-400 hover:to-blue-200 hover:text-white hover:bg-gradient-to-br hover:focus:ring-4 hover:focus:outline-none hover:focus:ring-blue-300 dark:focus:ring-blue-800 hover:shadow-lg hover:shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-bold">
					<a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
				</span>
			{% endif %}
		</div>
	</div>
{% endif %}
